QFrame[objectName="FlowTagPane"] {
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: rgb(50,50,50);
    background-color: rgb(43, 43, 43)
}

QLabel {
    border:2px dashed white;
    background: rgb(60, 63, 65);
	font: 75 16pt "Microsoft YaHei"; /*字体*/
	color: white; /*字体颜色*/
}

QPushButton {
    border: none;
    background-color:transparent;
}