
QWidget {
    border:2px dashed white;
    background: rgb(39, 41, 42);
	font: 75 16pt "Microsoft YaHei"; /*字体*/
	color: white; /*字体颜色*/
}

QPushButton {
    border: none;
    background-color:transparent;
}

FlowTag {
	border: 2px dashed #242424;
	background: rgb(60, 63, 65);
	color: white;
}