QWidget::pane {
    border: none;
}

QWidget {
    border:10px;
    background: rgb(60, 63, 65);
    dashed #242424;

    font-family: "Microsoft YaHei";
    font-weight: bold;
    color: white;
}

QPushButton {
    border: none;
    background-color:transparent;
}